<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Exam Booking Website</title>
    <link rel="stylesheet" href="./style/register.css">
</head>
<body>
        <nav id="navbar">
        <div class="logo">  <a href="/">  <img src="./Pictures/logo.png" alt=""></a></div>
        <ul class="con">
                
                <li class="item"> <a href="/">Home</a> </li>
                <li class="item"> <a href="/information">Information</a></li>
                <li class="item"> <a href="/location">Location</a> </li>
                <li class="item"> <a href="/contact">Contact</a></li>
                <li class="item"> <a href="/detail">Test Detail</a></li>
        </ul>
        <div class="login">
          <!-- <a href="/login"> <img src="./Pictures/login.png" alt=""></a></div> -->
    <% if (user) { %>
    <div class="log">
    <a href="/logout" class="item" id="logout">Logout</a>
    <h1 class="item" id="username"><%= user.username %></h1>
    </div>
  <% } else { %>
    <a href="/login"> <img src="./Pictures/login.png" alt=""></a>
  <% } %>
  </div>
    </nav>
    <nav>
        <div class="logo2">
              <img src="./Pictures/login.png" alt="">
        </div>
        <div class="form">
                 <form action="/register" method="POST">
  <input id="f1" type="text" name="username" placeholder="Enter username" required><br>
  <input id="f1" type="email" name="email" placeholder="Enter email" required><br>
  <input class="submit" type="password" name="password" placeholder="Enter password" required><br>
  <button class="submit" type="submit">Register</button>
            </form>
        </div>
    </nav>
</body>
</html>